In [1]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv('zomato_pune_V002.csv')

In [17]:
ls = []
for i in df['Number of votes']:
    for j in i.split():
        if(j.isnumeric()):
            ls.append(int(j))
print(len(ls))

12189

In [18]:
df['Number of votes'] = ls

In [19]:
df['Charges_for_two'] = df['Charges_for_two'].replace('\D', '', regex=True)

In [20]:
df2 = pd.DataFrame()

In [21]:
df2['Restaurant_Name'] = df['Restaurant_Name']

In [22]:
df2['index'] = range(len(df2['Restaurant_Name']))
index = df2['index']

In [23]:
df3 = pd.DataFrame()

In [24]:
df3['index'] = df2['index']

In [25]:
df3['rest_name'] = df2['Restaurant_Name']

In [27]:
ls = df.Ratings_out_of_5

In [28]:
ls1 = []
for i in ls:
    try:
        ls1.append(float(i))
    except:
        ls1.append(0)

In [29]:
len(ls1)

12189

In [30]:
df.Ratings_out_of_5 = ls1

In [17]:
df.to_csv('final.csv')

In [31]:
df

,Restaurant_Name,Web_Link,Locality,Sponsored,Ratings_out_of_5,Number of votes,Phone_number,Cuisines,Charges_for_two,payment_modes,...,Table booking recommended,Resto Bar,Serves Alcohol,Breakfast,Catering Available,Disabled Friendly,Serves Halal,Takeaway Only,BYOB Only,spam_review
0,AB's - Absolute Barbecues,https://www.zomato.com/pune/abs-absolute-barbe...,Hinjawadi,Casual Dining,4.9,7029,+91 9373112211,"Continental, North Indian, Chinese",1400,Cash and Cards accepted,...,1,0,0,0,0,0,0,0,0,1539.0
1,Cafe Co2 Resto Lounge,https://www.zomato.com/pune/cafe-co2-resto-lou...,Bhugaon,"Lounge, Casual Dining",4.6,2578,080 46971866,"North Indian, Chinese, Continental, Kebab, Sea...",1500,Cash and Cards accepted,...,1,0,0,0,0,0,0,0,0,139.0
2,Paasha - JW Marriott Pune,https://www.zomato.com/pune/paasha-jw-marriott...,Senapati Bapat Road,Fine Dining,4.6,3291,080 46971369,"North Indian, Kebab, Biryani",2500,"Cash,Cards and Digital Payments accepted",...,1,0,0,0,0,0,0,0,0,119.0
3,I Amsterdam,https://www.zomato.com/pune/i-amsterdam-hinjawadi,Hinjawadi,"Casual Dining, Bar",4.3,430,+91 8669698666 +91 8669697666,"Asian, European, Modern Indian, Italian",1400,"Cash,Cards and Digital Payments accepted",...,1,0,0,0,0,0,0,0,0,8.0
4,FC Road Social,https://www.zomato.com/pune/fc-road-social-shi...,Shivaji Nagar,"Bar, Casual Dining",4.5,2138,+91 9172378889 020 29805112,"North Indian, Chinese, Biryani, American, Cont...",1500,"Cash,Cards and Digital Payments accepted",...,0,0,0,1,0,0,0,0,0,132.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12184,Nil Food Point,https://www.zomato.com/pune/nil-food-point-hin...,Hinjawadi,"Takeaway, Delivery",0.0,0,+91 9112898153,Chinese,,Cash and Digital Payments accepted,...,0,0,0,0,0,0,0,0,0,0.0
12185,Flirty Momo,https://www.zomato.com/pune/flirty-momo-kharadi,Kharadi,"Takeaway, Delivery",0.0,0,+91 8237524902,"Mongolian, Pizza, Chinese, Beverages",,Cash only,...,0,0,0,0,0,0,0,0,0,0.0
12186,Hunger Treat,https://www.zomato.com/pune/hunger-treat-katraj,Katraj,Quick Bites,0.0,0,+91 7721098589,"South Indian, Fast Food, Chinese",300,Cash and Digital Payments accepted,...,0,0,0,0,0,0,0,0,0,0.0
12187,Bungalow 424,https://www.zomato.com/pune/bungalow-424-kothrud,Kothrud,"Casual Dining, Bar",0.0,0,+91 7709367942,"North Indian, Fast Food, Continental",1200,"Cash,Cards and Digital Payments accepted",...,1,0,0,0,0,0,0,0,0,0.0
12188,Desi Shakes By KB,https://www.zomato.com/pune/desi-shakes-by-kb-...,Bavdhan,Beverage Shop,0.0,0,+91 8141964335,Beverages,200,Cash and Digital Payments accepted,...,0,0,0,0,0,0,0,0,0,0.0

In [109]:
for i in df.columns:
    print(i)

Restaurant_Name
Web_Link
Locality
Sponsored
Ratings_out_of_5
Number of votes
Phone_number
Cuisines
Charges_for_two
payment_modes
Rest_timming
Detail_address
5_star_review_percentage
4_star_review_percentage
3_star_review_percentage
2_star_review_percentage
1_star_review_percentage
Wine and Beer
Dance Floor
Lunch Menu
Outdoor Seating
Seaside
4/5 Star
Free Parking
Pet Friendly
Bulk Orders Accepted
Gaming Are
City View
Vegetarian Only
Brunch
Live Music
Wheelchair Accessible
Home Delivery
Celebrity Frequented
Pre-Ordering Required
Pool Table
Keto Options
Wifi
Sports TV
Wine Tasting
Beer
Restricted Entry
Variable Menu
Serves Non Veg
Table booking for Groups
Poolside
Home Baker
Wine
Buffet
Board Games
Vegan Options
Table Reservation Not Required
Table reservation required
Rooftop
BYOB
Egg Preparations
Live Sports Screening
Luxury Dining
Seating Not Available
Desserts and Bakes
Card Upon Delivery
Serves Jain Food
Mall Parking
Available for Functions
Gastro Pub
Live Entertainment
Sugar Free Options
Couple Entry Only
Above 18 Only
Drive in
Drive Thru
Valet Parking Available
Indoor Seating
Free Wifi
Nightlife
Serves Cocktails
Kid Friendly
Craft Beer
All Day Breakfast
Gluten Free Options
Group Meal
Table booking not available
Full Bar Available
Members Only
Standing Tables
Karaoke
Entry Fee
Self Service
Delivery Only
LGBTQIA Friendly
No Alcohol Available
Unlimited Pizz
Private Dining Area Available
Smoking Are
Table booking recommended
Resto Bar
Serves Alcohol
Breakfast
Catering Available
Disabled Friendly
Serves Halal
Takeaway Only
BYOB Only
spam_review

In [32]:
f1 = df[['Locality', 'Sponsored', 'Number of votes', 'Ratings_out_of_5', 'Charges_for_two', 'Cuisines', 'Wine and Beer', 'Vegetarian Only', 'Vegan Options', 'Sugar Free Options', 'Buffet']]

In [33]:
f1

,Locality,Sponsored,Number of votes,Ratings_out_of_5,Charges_for_two,Cuisines,Wine and Beer,Vegetarian Only,Vegan Options,Sugar Free Options,Buffet
0,Hinjawadi,Casual Dining,7029,4.9,1400,"Continental, North Indian, Chinese",0,0,0,0,1
1,Bhugaon,"Lounge, Casual Dining",2578,4.6,1500,"North Indian, Chinese, Continental, Kebab, Sea...",0,0,0,0,0
2,Senapati Bapat Road,Fine Dining,3291,4.6,2500,"North Indian, Kebab, Biryani",0,0,0,0,0
3,Hinjawadi,"Casual Dining, Bar",430,4.3,1400,"Asian, European, Modern Indian, Italian",0,0,0,0,0
4,Shivaji Nagar,"Bar, Casual Dining",2138,4.5,1500,"North Indian, Chinese, Biryani, American, Cont...",0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
12184,Hinjawadi,"Takeaway, Delivery",0,0.0,,Chinese,0,0,0,0,0
12185,Kharadi,"Takeaway, Delivery",0,0.0,,"Mongolian, Pizza, Chinese, Beverages",0,0,0,0,0
12186,Katraj,Quick Bites,0,0.0,300,"South Indian, Fast Food, Chinese",0,0,0,0,0
12187,Kothrud,"Casual Dining, Bar",0,0.0,1200,"North Indian, Fast Food, Continental",0,0,0,0,0
12188,Bavdhan,Beverage Shop,0,0.0,200,Beverages,0,0,0,0,0

In [20]:
len(f1.columns)

11

In [18]:
f1['index'] = range(len(f1.Locality))

C:\Users\Manas Sewatkar\AppData\Local\Temp\ipykernel_26128\1042528921.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f1['index'] = range(len(f1.Locality))

In [19]:
f1

,Locality,Sponsored,Number of votes,Ratings_out_of_5,Charges_for_two,Cuisines,Wine and Beer,Vegetarian Only,Vegan Options,Sugar Free Options,Buffet,index
0,Hinjawadi,Casual Dining,7029,4.9,1400,"Continental, North Indian, Chinese",0,0,0,0,1,0
1,Bhugaon,"Lounge, Casual Dining",2578,4.6,1500,"North Indian, Chinese, Continental, Kebab, Sea...",0,0,0,0,0,1
2,Senapati Bapat Road,Fine Dining,3291,4.6,2500,"North Indian, Kebab, Biryani",0,0,0,0,0,2
3,Hinjawadi,"Casual Dining, Bar",430,4.3,1400,"Asian, European, Modern Indian, Italian",0,0,0,0,0,3
4,Shivaji Nagar,"Bar, Casual Dining",2138,4.5,1500,"North Indian, Chinese, Biryani, American, Cont...",0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
12184,Hinjawadi,"Takeaway, Delivery",0,0.0,,Chinese,0,0,0,0,0,12184
12185,Kharadi,"Takeaway, Delivery",0,0.0,,"Mongolian, Pizza, Chinese, Beverages",0,0,0,0,0,12185
12186,Katraj,Quick Bites,0,0.0,300,"South Indian, Fast Food, Chinese",0,0,0,0,0,12186
12187,Kothrud,"Casual Dining, Bar",0,0.0,1200,"North Indian, Fast Food, Continental",0,0,0,0,0,12187
12188,Bavdhan,Beverage Shop,0,0.0,200,Beverages,0,0,0,0,0,12188

In [20]:
f2 = f1[['index', 'Locality', 'Sponsored', 'Number of votes', 'Ratings_out_of_5', 'Charges_for_two', 'Cuisines', 'Wine and Beer', 'Vegetarian Only', 'Vegan Options', 'Sugar Free Options', 'Buffet']]

In [21]:
f2

,index,Locality,Sponsored,Number of votes,Ratings_out_of_5,Charges_for_two,Cuisines,Wine and Beer,Vegetarian Only,Vegan Options,Sugar Free Options,Buffet
0,0,Hinjawadi,Casual Dining,7029,4.9,1400,"Continental, North Indian, Chinese",0,0,0,0,1
1,1,Bhugaon,"Lounge, Casual Dining",2578,4.6,1500,"North Indian, Chinese, Continental, Kebab, Sea...",0,0,0,0,0
2,2,Senapati Bapat Road,Fine Dining,3291,4.6,2500,"North Indian, Kebab, Biryani",0,0,0,0,0
3,3,Hinjawadi,"Casual Dining, Bar",430,4.3,1400,"Asian, European, Modern Indian, Italian",0,0,0,0,0
4,4,Shivaji Nagar,"Bar, Casual Dining",2138,4.5,1500,"North Indian, Chinese, Biryani, American, Cont...",0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
12184,12184,Hinjawadi,"Takeaway, Delivery",0,0.0,,Chinese,0,0,0,0,0
12185,12185,Kharadi,"Takeaway, Delivery",0,0.0,,"Mongolian, Pizza, Chinese, Beverages",0,0,0,0,0
12186,12186,Katraj,Quick Bites,0,0.0,300,"South Indian, Fast Food, Chinese",0,0,0,0,0
12187,12187,Kothrud,"Casual Dining, Bar",0,0.0,1200,"North Indian, Fast Food, Continental",0,0,0,0,0
12188,12188,Bavdhan,Beverage Shop,0,0.0,200,Beverages,0,0,0,0,0

In [22]:
import random
ide, local, spon, nov, roo5, charg, cuis, wnb, vo, vego, sfo, buff=[],[],[],[],[],[],[],[],[],[],[],[]
userid = []

In [23]:
for i in range(20000):
    user_id = random.randint(0, 500)
    userid.append(user_id)
    item_id = random.randint(0, 12188)
    ide.append(f2['index'][item_id])
    local.append(f2['Locality'][item_id])
    spon.append(f2['Sponsored'][item_id])
    roo5.append(f2['Ratings_out_of_5'][item_id])
    nov.append(f2['Number of votes'][item_id])
    charg.append(f2['Charges_for_two'][item_id])
    cuis.append(f2['Cuisines'][item_id])
    wnb.append(f2['Wine and Beer'][item_id])
    vo.append(f2['Vegetarian Only'][item_id])
    vego.append(f2['Vegan Options'][item_id])
    sfo.append(f2['Sugar Free Options'][item_id])
    buff.append(f2['Buffet'][item_id])
newdf = pd.DataFrame()
newdf['user_id'] = userid
newdf['index'] = ide
newdf['loc'] = local
newdf['sponsor'] = spon
newdf['votes'] = nov
newdf['rating'] = roo5
newdf['charge'] = charg
newdf['cuisine'] = cuis
newdf['alcohol'] = wnb
newdf['veg'] = vo
newdf['vegan'] = vego
newdf['sugarfree'] = sfo
newdf['buff'] = buff

In [24]:
newdf

,user_id,index,loc,sponsor,votes,rating,charge,cuisine,alcohol,veg,vegan,sugarfree,buff
0,191,3295,Lonavala,Casual Dining,74,3.8,1000,"North Indian, Chinese, Mughlai, Seafood",0,0,0,0,0
1,484,9995,Salunkhe Vihar Road,Quick Bites,4,3.3,300,"Fast Food, Beverages, Desserts",0,0,0,0,0
2,137,8142,Wakad,Quick Bites,0,0.0,500,"North Indian, Chinese, Continental, Beverages,...",0,0,0,0,0
3,153,11335,Bavdhan,Quick Bites,0,0.0,200,"Street Food, Maharashtrian",0,0,0,0,0
4,205,2934,Pashan,Quick Bites,8,3.2,400,"Biryani, Chinese, North Indian",0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,60,5685,Kothrud,"Takeaway, Delivery",7,2.9,,"North Indian, Mughlai",0,0,0,0,0
19996,435,10601,Warje,Kiosk,0,0.0,150,"Biryani, Rolls, Fast Food",0,0,0,0,0
19997,20,4009,Hadapsar,Delivery,6,3.0,,"North Indian, Street Food, South Indian",0,0,0,0,0
19998,120,10429,Yerawada,Casual Dining,4,3.1,350,"North Indian, Chinese, Mughlai",0,0,0,0,0
19999,128,4447,Deccan Gymkhana,Casual Dining,11,3.2,600,"North Indian, Fast Food",0,0,0,0,0

In [158]:
dup = newdf[newdf.duplicated(keep = 'last')]
print(dup)

Empty DataFrame
Columns: [user_id, index, loc, sponsor, votes, rating, charge, cuisine, alcohol, veg, vegan, sugarfree, buff]
Index: []

In [25]:
newdf.sort_values('user_id', inplace = True)

In [28]:
newdf.to_csv('training1.csv')

In [26]:
newdf.drop_duplicates(keep='first', inplace = True)

In [27]:
newdf

,user_id,index,loc,sponsor,votes,rating,charge,cuisine,alcohol,veg,vegan,sugarfree,buff
15097,0,8282,Balewadi,Quick Bites,0,0.0,200,North Indian,0,0,0,0,0
5911,0,8913,Kondhwa,Bakery,16,3.8,300,Bakery,0,0,0,0,0
18574,0,3207,Bavdhan,Quick Bites,0,0.0,300,Chinese,0,0,0,0,0
9506,0,1664,Hinjawadi,Quick Bites,845,3.9,600,"Biryani, North Indian, Chinese",0,0,0,0,0
17706,0,6492,Sinhgad Road,Casual Dining,4,3.0,600,"Chinese, North Indian",0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7236,500,9213,Kothrud Area,Delivery,91,3.6,,Fast Food,0,0,0,0,0
1154,500,3663,Ravet,Casual Dining,62,3.9,600,"Malwani, Seafood",0,0,0,0,0
8493,500,6168,Hadapsar,Quick Bites,6,3.1,400,Biryani,0,0,0,0,0
6641,500,5163,Kharadi,Café,40,3.3,500,"Cafe, Chinese, Continental, North Indian",0,0,0,0,0
2502,500,941,FC Road,Casual Dining,871,4.0,500,"Fast Food, South Indian",0,1,0,0,0

In [31]:
newdf.to_csv('FFinalTrain.csv')

In [34]:
df1 = pd.read_csv("FinalTraining.csv")

In [35]:
df1 = df1.drop('Unnamed: 0', axis = 1)

In [36]:
df2 = pd.read_csv('rest_titles.csv')

In [52]:
df2

       index                  rest_name
0          0  AB's - Absolute Barbecues
1          1      Cafe Co2 Resto Lounge
2          2  Paasha - JW Marriott Pune
3          3                I Amsterdam
4          4             FC Road Social
...      ...                        ...
12184  12184             Nil Food Point
12185  12185                Flirty Momo
12186  12186               Hunger Treat
12187  12187               Bungalow 424
12188  12188          Desi Shakes By KB

[12189 rows x 2 columns]

In [50]:
df3 = pd.DataFrame()

In [53]:
df3['rest_name'] = df2['rest_name']

In [55]:
df3['rating'] = f1['Ratings_out_of_5']

In [57]:
f1

,Locality,Sponsored,Number of votes,Ratings_out_of_5,Charges_for_two,Cuisines,Wine and Beer,Vegetarian Only,Vegan Options,Sugar Free Options,Buffet
0,Hinjawadi,Casual Dining,7029,4.9,1400,"Continental, North Indian, Chinese",0,0,0,0,1
1,Bhugaon,"Lounge, Casual Dining",2578,4.6,1500,"North Indian, Chinese, Continental, Kebab, Sea...",0,0,0,0,0
2,Senapati Bapat Road,Fine Dining,3291,4.6,2500,"North Indian, Kebab, Biryani",0,0,0,0,0
3,Hinjawadi,"Casual Dining, Bar",430,4.3,1400,"Asian, European, Modern Indian, Italian",0,0,0,0,0
4,Shivaji Nagar,"Bar, Casual Dining",2138,4.5,1500,"North Indian, Chinese, Biryani, American, Cont...",0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
12184,Hinjawadi,"Takeaway, Delivery",0,0.0,,Chinese,0,0,0,0,0
12185,Kharadi,"Takeaway, Delivery",0,0.0,,"Mongolian, Pizza, Chinese, Beverages",0,0,0,0,0
12186,Katraj,Quick Bites,0,0.0,300,"South Indian, Fast Food, Chinese",0,0,0,0,0
12187,Kothrud,"Casual Dining, Bar",0,0.0,1200,"North Indian, Fast Food, Continental",0,0,0,0,0
12188,Bavdhan,Beverage Shop,0,0.0,200,Beverages,0,0,0,0,0

In [58]:
df3['votes'] = f1['Number of votes']

In [67]:
rating = df3.copy()

In [70]:
rating.sort_values(by = 'rating', ascending = False)

                       rest_name  rating  votes
0      AB's - Absolute Barbecues     4.9   7029
43         Babylon Craft Brewery     4.9    216
242    Zeta - Hyatt Regency Pune     4.9    228
98                   Cafe Paashh     4.9    378
91                    Pop Tate's     4.9   1944
...                          ...     ...    ...
7988             Yashoda Biryani     0.0      0
7987     Annapurna Paratha House     0.0      0
7986            Punjabi Junction     0.0      0
7983                  Ana Burger     0.0      0
12188          Desi Shakes By KB     0.0      0

[12189 rows x 3 columns]

In [86]:
rating.to_csv('final_rating.csv')

In [88]:
df2.to_csv('combined.csv')

In [2]:
rating = pd.read_csv('final_rating.csv')
combine = pd.read_csv('combined.csv')

In [80]:
def recommend_restaurant(rest_name):
    rest = pivot_table[rest_name]
    sim_with_other_rest = pivot_table.corrwith(rest)
    return sim_with_other_rest.head()

In [5]:
rating = rating.drop('Unnamed: 0', axis = 1)

In [10]:
combine = combine.drop('Unnamed: 0', axis = 1)

In [11]:
combine

,index,rest_name,user_id,loc,sponsor,votes,rating,charge,cuisine,alcohol,veg,vegan,sugarfree,buff
0,0,AB's - Absolute Barbecues,78,Hinjawadi,Casual Dining,7029,4.9,1400.0,Continental,0,0,0,0,1
1,0,AB's - Absolute Barbecues,83,Hinjawadi,Casual Dining,7029,4.9,1400.0,Continental,0,0,0,0,1
2,0,AB's - Absolute Barbecues,255,Hinjawadi,Casual Dining,7029,4.9,1400.0,Continental,0,0,0,0,1
3,0,AB's - Absolute Barbecues,432,Hinjawadi,Casual Dining,7029,4.9,1400.0,Continental,0,0,0,0,1
4,1,Cafe Co2 Resto Lounge,196,Bhugaon,Lounge,2578,4.6,1500.0,North Indian,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19963,12187,Bungalow 424,420,Kothrud,Casual Dining,0,0.0,1200.0,North Indian,0,0,0,0,0
19964,12188,Desi Shakes By KB,145,Bavdhan,Beverage Shop,0,0.0,200.0,Beverages,0,0,0,0,0
19965,12188,Desi Shakes By KB,189,Bavdhan,Beverage Shop,0,0.0,200.0,Beverages,0,0,0,0,0
19966,12188,Desi Shakes By KB,404,Bavdhan,Beverage Shop,0,0.0,200.0,Beverages,0,0,0,0,0
19967,12188,Desi Shakes By KB,479,Bavdhan,Beverage Shop,0,0.0,200.0,Beverages,0,0,0,0,0

In [13]:
combine = combine.sort_values(by='user_id')

In [16]:
combine

,index,rest_name,user_id,loc,sponsor,votes,rating,charge,cuisine,alcohol,veg,vegan,sugarfree,buff
17894,10962,Southern Spice,0,Dhanori,Quick Bites,4,2.8,200.0,South Indian,0,1,0,0,0
1741,1113,Cafe Little Eggs,0,Bund Garden Road,Quick Bites,9,3.3,300.0,Fast Food,0,0,0,0,0
2176,1355,Indori Sarafa,0,Hadapsar,Quick Bites,0,0.0,200.0,North Indian,0,1,0,0,0
14127,8722,Hotel Aamantran,0,Wadgaon Sheri,Casual Dining,9,3.1,600.0,Maharashtrian,0,0,0,0,0
3834,2354,Hotel Satkar,0,Chandan Nagar,Casual Dining,32,3.4,600.0,Chinese,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12518,7751,The Hunger Point,500,Katraj,Quick Bites,16,3.3,300.0,Chinese,0,0,0,0,0
3334,2058,Woods Villa Family Restaurant,500,Erandwane,Casual Dining,59,3.4,900.0,North Indian,0,0,0,0,1
15842,9725,Thali Junction Lonavala,500,Lonavala,Quick Bites,0,0.0,300.0,North Indian,0,0,0,0,0
7553,4615,Cafe iSuite,500,Kharadi,Casual Dining,5,3.1,600.0,North Indian,0,0,0,0,0
10751,6607,Hotel Trishna,500,Rasta Peth,Bar,12,3.3,550.0,North Indian,0,0,0,0,0

In [18]:
import random as rr
ls = []
for i in range(19968):
    ls.append(rr.randint(0,5))
combine['rating'] = ls

In [19]:
combine

,index,rest_name,user_id,loc,sponsor,votes,rating,charge,cuisine,alcohol,veg,vegan,sugarfree,buff
17894,10962,Southern Spice,0,Dhanori,Quick Bites,4,3,200.0,South Indian,0,1,0,0,0
1741,1113,Cafe Little Eggs,0,Bund Garden Road,Quick Bites,9,4,300.0,Fast Food,0,0,0,0,0
2176,1355,Indori Sarafa,0,Hadapsar,Quick Bites,0,3,200.0,North Indian,0,1,0,0,0
14127,8722,Hotel Aamantran,0,Wadgaon Sheri,Casual Dining,9,4,600.0,Maharashtrian,0,0,0,0,0
3834,2354,Hotel Satkar,0,Chandan Nagar,Casual Dining,32,2,600.0,Chinese,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12518,7751,The Hunger Point,500,Katraj,Quick Bites,16,0,300.0,Chinese,0,0,0,0,0
3334,2058,Woods Villa Family Restaurant,500,Erandwane,Casual Dining,59,4,900.0,North Indian,0,0,0,0,1
15842,9725,Thali Junction Lonavala,500,Lonavala,Quick Bites,0,3,300.0,North Indian,0,0,0,0,0
7553,4615,Cafe iSuite,500,Kharadi,Casual Dining,5,1,600.0,North Indian,0,0,0,0,0
10751,6607,Hotel Trishna,500,Rasta Peth,Bar,12,0,550.0,North Indian,0,0,0,0,0

In [55]:
pivot_table = item_sim.pivot_table(index = ["user_id"],columns = ["rest_name"],values = "rating")

In [28]:
for i in pivot_table.columns:
    pivot_table[i].fillna(0)

In [56]:
pivot_table

rest_name,#PFC-Pocket Friendly Cafe,#Selfieccino,#TAG Cafe,#TFT,.Cafe Farm House,1 Lounge and Restaurant,1 More Biryani,100 Rupis.com Burgers & More,1000 Oaks,100° Resto Lounge,...,che-GUEVARA CHEESE,eSSSetrra,eat HEALTHY,eat.fit,foods@99.in,ibaco,चमMuch Misal & Pav Bhaji House,द Vege टेबल,सोBar,स्पेस Bar
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
pivot_table = pivot_table.fillna(0)

In [58]:
def standardize(row):
    if(row.max()-row.min() != 0):
        new_row = (row - row.mean())/(row.max() - row.min())
    else:
        new_row = row
    return new_row
pt_stan = pivot_table.apply(standardize)

In [59]:
pt_stan

rest_name,#PFC-Pocket Friendly Cafe,#Selfieccino,#TAG Cafe,#TFT,.Cafe Farm House,1 Lounge and Restaurant,1 More Biryani,100 Rupis.com Burgers & More,1000 Oaks,100° Resto Lounge,...,che-GUEVARA CHEESE,eSSSetrra,eat HEALTHY,eat.fit,foods@99.in,ibaco,चमMuch Misal & Pav Bhaji House,द Vege टेबल,सोBar,स्पेस Bar
user_id,,,,,,,,,,,,,,,,,,,,,
0,-0.00107,-0.000668,-0.000668,0.0,0.0,-0.001114,-0.001604,-0.000668,0.0,-0.000668,...,-0.000668,-0.000668,-0.000668,-0.00117,-0.000668,-0.000668,-0.001003,0.0,-0.001604,-0.000891
1,-0.00107,-0.000668,-0.000668,0.0,0.0,-0.001114,-0.001604,-0.000668,0.0,-0.000668,...,-0.000668,-0.000668,-0.000668,-0.00117,-0.000668,-0.000668,-0.001003,0.0,-0.001604,-0.000891
2,-0.00107,-0.000668,-0.000668,0.0,0.0,-0.001114,-0.001604,-0.000668,0.0,-0.000668,...,-0.000668,-0.000668,-0.000668,-0.00117,-0.000668,-0.000668,-0.001003,0.0,-0.001604,-0.000891
3,-0.00107,-0.000668,-0.000668,0.0,0.0,-0.001114,-0.001604,-0.000668,0.0,-0.000668,...,-0.000668,-0.000668,-0.000668,-0.00117,-0.000668,-0.000668,-0.001003,0.0,-0.001604,-0.000891
4,-0.00107,-0.000668,-0.000668,0.0,0.0,-0.001114,-0.001604,-0.000668,0.0,-0.000668,...,-0.000668,-0.000668,-0.000668,-0.00117,-0.000668,-0.000668,-0.001003,0.0,-0.001604,-0.000891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9967,-0.00107,-0.000668,-0.000668,0.0,0.0,-0.001114,-0.001604,-0.000668,0.0,-0.000668,...,-0.000668,-0.000668,-0.000668,-0.00117,-0.000668,-0.000668,-0.001003,0.0,-0.001604,-0.000891
9984,-0.00107,-0.000668,-0.000668,0.0,0.0,-0.001114,-0.001604,-0.000668,0.0,-0.000668,...,-0.000668,-0.000668,-0.000668,-0.00117,-0.000668,-0.000668,-0.001003,0.0,-0.001604,-0.000891
9985,-0.00107,-0.000668,-0.000668,0.0,0.0,-0.001114,-0.001604,-0.000668,0.0,-0.000668,...,-0.000668,-0.000668,-0.000668,-0.00117,-0.000668,-0.000668,-0.001003,0.0,-0.001604,-0.000891
9988,-0.00107,-0.000668,-0.000668,0.0,0.0,-0.001114,-0.001604,-0.000668,0.0,-0.000668,...,-0.000668,-0.000668,-0.000668,-0.00117,-0.000668,-0.000668,-0.001003,0.0,-0.001604,-0.000891
9996,-0.00107,-0.000668,-0.000668,0.0,0.0,-0.001114,-0.001604,-0.000668,0.0,-0.000668,...,-0.000668,-0.000668,-0.000668,-0.00117,-0.000668,-0.000668,-0.001003,0.0,-0.001604,-0.000891

In [2]:
combine = pd.read_csv('finalkafinal.csv')

In [60]:
from sklearn.metrics.pairwise import cosine_similarity

In [61]:
it_sim = cosine_similarity(pt_stan.T)

In [62]:
item_sim = pd.DataFrame(it_sim, index = pt_stan.columns, columns = pt_stan.columns)

In [63]:
item_sim

rest_name,#PFC-Pocket Friendly Cafe,#Selfieccino,#TAG Cafe,#TFT,.Cafe Farm House,1 Lounge and Restaurant,1 More Biryani,100 Rupis.com Burgers & More,1000 Oaks,100° Resto Lounge,...,che-GUEVARA CHEESE,eSSSetrra,eat HEALTHY,eat.fit,foods@99.in,ibaco,चमMuch Misal & Pav Bhaji House,द Vege टेबल,सोBar,स्पेस Bar
rest_name,,,,,,,,,,,,,,,,,,,,,
#PFC-Pocket Friendly Cafe,1.000000,-0.000918,-0.000918,0.0,0.0,-0.001273,-0.001625,-0.000918,0.0,-0.000918,...,-0.000918,-0.000918,-0.000918,-0.001286,-0.000918,-0.000918,-0.001232,0.0,-0.001500,-0.001161
#Selfieccino,-0.000918,1.000000,-0.000669,0.0,0.0,-0.000928,-0.001184,-0.000669,0.0,-0.000669,...,-0.000669,-0.000669,-0.000669,-0.000937,-0.000669,-0.000669,-0.000898,0.0,-0.001093,-0.000846
#TAG Cafe,-0.000918,-0.000669,1.000000,0.0,0.0,-0.000928,-0.001184,-0.000669,0.0,-0.000669,...,-0.000669,-0.000669,-0.000669,-0.000937,-0.000669,-0.000669,-0.000898,0.0,-0.001093,-0.000846
#TFT,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
.Cafe Farm House,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ibaco,-0.000918,-0.000669,-0.000669,0.0,0.0,-0.000928,-0.001184,-0.000669,0.0,-0.000669,...,-0.000669,-0.000669,-0.000669,-0.000937,-0.000669,1.000000,-0.000898,0.0,-0.001093,-0.000846
चमMuch Misal & Pav Bhaji House,-0.001232,-0.000898,-0.000898,0.0,0.0,-0.001245,-0.001589,-0.000898,0.0,-0.000898,...,-0.000898,-0.000898,-0.000898,-0.001257,-0.000898,-0.000898,1.000000,0.0,-0.001467,-0.001136
द Vege टेबल,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
सोBar,-0.001500,-0.001093,-0.001093,0.0,0.0,-0.001516,-0.001935,-0.001093,0.0,-0.001093,...,-0.001093,-0.001093,-0.001093,-0.001531,-0.001093,-0.001093,-0.001467,0.0,1.000000,-0.001383
स्पेस Bar,-0.001161,-0.000846,-0.000846,0.0,0.0,-0.001174,-0.001498,-0.000846,0.0,-0.000846,...,-0.000846,-0.000846,-0.000846,-0.001185,-0.000846,-0.000846,-0.001136,0.0,-0.001383,1.000000

In [64]:
def get_sim(movie, user_rating, mean):
    sim_score = item_sim[movie]*user_rating
    sim_score = sim_score.sort_values(ascending = False)
    return sim_score

In [65]:
def get_restaurant(user_dict):
    sim_rest = pd.DataFrame()
    m = np.array(list(user_dict.values())).mean()
    for rest in user_dict:
        sim_rest = sim_rest.append(get_sim(rest, user_dict[rest], m), ignore_index = True)
    sim_rest = sim_rest.sum().sort_values(ascending = False)
    return dict(sim_rest.head(len(user_dict)+5))

In [66]:
user = {'#Selfieccino': 3, 'Chai It': 5, 'Sai Cream Cafe': 3}
x = get_restaurant(user)

C:\Users\Manas Sewatkar\AppData\Local\Temp\ipykernel_22276\3378361475.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sim_rest = sim_rest.append(get_sim(rest, user_dict[rest], m), ignore_index = True)
C:\Users\Manas Sewatkar\AppData\Local\Temp\ipykernel_22276\3378361475.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sim_rest = sim_rest.append(get_sim(rest, user_dict[rest], m), ignore_index = True)
C:\Users\Manas Sewatkar\AppData\Local\Temp\ipykernel_22276\3378361475.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sim_rest = sim_rest.append(get_sim(rest, user_dict[rest], m), ignore_index = True)

In [67]:
y = {}
for i in x:
    if not i in user:
        y[i] = x[i]

In [68]:
y

{'Amol Dakshin Davangiri Dosa and Snacks': 10.738551899647893,
 'Shiv Paratha With Maya': 10.417556328155067,
 'Spine Woods': 9.642756451876018,
 'Central Food Court': 8.766115388431789,
 'Tarif Dum Biryani House': 8.595810862311922}

In [53]:
item_sim = pd.read_csv('combined.csv')

In [54]:
item_sim

                           rest_name  user_id  rating
0                     Southern Spice        0       3
1                   Cafe Little Eggs        0       4
2                      Indori Sarafa        0       3
3                    Hotel Aamantran        0       4
4                       Hotel Satkar        0       2
...                              ...      ...     ...
19963               The Hunger Point      500       0
19964  Woods Villa Family Restaurant      500       4
19965        Thali Junction Lonavala      500       3
19966                    Cafe iSuite      500       1
19967                  Hotel Trishna      500       0

[19968 rows x 3 columns]