In [1]:
import numpy as np
import pandas as pd

In [56]:
df = pd.read_csv('D:\My Docs\PICT CS\SE_21_22\PBL\DVSAM\Data\zomato_pune_V002.csv')

In [57]:
ls = []
for i in df['Number of votes']:
    for j in i.split():
        if(j.isnumeric()):
            ls.append(int(j))
print(len(ls))

12189

In [58]:
df['Number of votes'] = ls

In [59]:
df['Charges_for_two'] = df['Charges_for_two'].replace('\D', '', regex=True)

In [60]:
df2 = pd.DataFrame()

In [62]:
df2['Restaurant_Name'] = df['Restaurant_Name']

In [68]:
df2['index'] = range(len(df2['Restaurant_Name']))
index = df2['index']

In [71]:
df3 = pd.DataFrame()

In [72]:
df3['index'] = df2['index']

In [74]:
df3['rest_name'] = df2['Restaurant_Name']

In [76]:
df3.to_csv('rest_titles.csv')

In [99]:
ls = df.Ratings_out_of_5

In [100]:
ls1 = []
for i in ls:
    try:
        ls1.append(float(i))
    except:
        ls1.append(0)

In [101]:
len(ls1)

12189

In [102]:
df.Ratings_out_of_5 = ls1

In [105]:
df.to_csv('final.csv')

Index(['Restaurant_Name', 'Web_Link', 'Locality', 'Sponsored',
       'Ratings_out_of_5', 'Number of votes', 'Phone_number', 'Cuisines',
       'Charges_for_two', 'payment_modes',
       ...
       'Table booking recommended', 'Resto Bar', 'Serves Alcohol', 'Breakfast',
       'Catering Available', 'Disabled Friendly', 'Serves Halal',
       'Takeaway Only', 'BYOB Only', 'spam_review'],
      dtype='object', length=104)

In [109]:
for i in df.columns:
    print(i)

Restaurant_Name
Web_Link
Locality
Sponsored
Ratings_out_of_5
Number of votes
Phone_number
Cuisines
Charges_for_two
payment_modes
Rest_timming
Detail_address
5_star_review_percentage
4_star_review_percentage
3_star_review_percentage
2_star_review_percentage
1_star_review_percentage
Wine and Beer
Dance Floor
Lunch Menu
Outdoor Seating
Seaside
4/5 Star
Free Parking
Pet Friendly
Bulk Orders Accepted
Gaming Are
City View
Vegetarian Only
Brunch
Live Music
Wheelchair Accessible
Home Delivery
Celebrity Frequented
Pre-Ordering Required
Pool Table
Keto Options
Wifi
Sports TV
Wine Tasting
Beer
Restricted Entry
Variable Menu
Serves Non Veg
Table booking for Groups
Poolside
Home Baker
Wine
Buffet
Board Games
Vegan Options
Table Reservation Not Required
Table reservation required
Rooftop
BYOB
Egg Preparations
Live Sports Screening
Luxury Dining
Seating Not Available
Desserts and Bakes
Card Upon Delivery
Serves Jain Food
Mall Parking
Available for Functions
Gastro Pub
Live Entertainment
Sugar Free Options
Couple Entry Only
Above 18 Only
Drive in
Drive Thru
Valet Parking Available
Indoor Seating
Free Wifi
Nightlife
Serves Cocktails
Kid Friendly
Craft Beer
All Day Breakfast
Gluten Free Options
Group Meal
Table booking not available
Full Bar Available
Members Only
Standing Tables
Karaoke
Entry Fee
Self Service
Delivery Only
LGBTQIA Friendly
No Alcohol Available
Unlimited Pizz
Private Dining Area Available
Smoking Are
Table booking recommended
Resto Bar
Serves Alcohol
Breakfast
Catering Available
Disabled Friendly
Serves Halal
Takeaway Only
BYOB Only
spam_review

In [119]:
f1 = df[['Locality', 'Sponsored', 'Number of votes', 'Ratings_out_of_5', 'Charges_for_two', 'Cuisines', 'Wine and Beer', 'Vegetarian Only', 'Vegan Options', 'Sugar Free Options', 'Buffet']]

In [120]:
f1

,Locality,Sponsored,Number of votes,Ratings_out_of_5,Charges_for_two,Cuisines,Wine and Beer,Vegetarian Only,Vegan Options,Sugar Free Options,Buffet
0,Hinjawadi,Casual Dining,7029,4.9,1400,"Continental, North Indian, Chinese",0,0,0,0,1
1,Bhugaon,"Lounge, Casual Dining",2578,4.6,1500,"North Indian, Chinese, Continental, Kebab, Sea...",0,0,0,0,0
2,Senapati Bapat Road,Fine Dining,3291,4.6,2500,"North Indian, Kebab, Biryani",0,0,0,0,0
3,Hinjawadi,"Casual Dining, Bar",430,4.3,1400,"Asian, European, Modern Indian, Italian",0,0,0,0,0
4,Shivaji Nagar,"Bar, Casual Dining",2138,4.5,1500,"North Indian, Chinese, Biryani, American, Cont...",0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
12184,Hinjawadi,"Takeaway, Delivery",0,0.0,0,Chinese,0,0,0,0,0
12185,Kharadi,"Takeaway, Delivery",0,0.0,0,"Mongolian, Pizza, Chinese, Beverages",0,0,0,0,0
12186,Katraj,Quick Bites,0,0.0,300,"South Indian, Fast Food, Chinese",0,0,0,0,0
12187,Kothrud,"Casual Dining, Bar",0,0.0,1200,"North Indian, Fast Food, Continental",0,0,0,0,0
12188,Bavdhan,Beverage Shop,0,0.0,200,Beverages,0,0,0,0,0

In [117]:
len(f1.columns)

11

In [121]:
f1['index'] = range(len(f1.Locality))

C:\Users\MANASS~1\AppData\Local\Temp/ipykernel_23660/1042528921.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f1['index'] = range(len(f1.Locality))

In [122]:
f1

,Locality,Sponsored,Number of votes,Ratings_out_of_5,Charges_for_two,Cuisines,Wine and Beer,Vegetarian Only,Vegan Options,Sugar Free Options,Buffet,index
0,Hinjawadi,Casual Dining,7029,4.9,1400,"Continental, North Indian, Chinese",0,0,0,0,1,0
1,Bhugaon,"Lounge, Casual Dining",2578,4.6,1500,"North Indian, Chinese, Continental, Kebab, Sea...",0,0,0,0,0,1
2,Senapati Bapat Road,Fine Dining,3291,4.6,2500,"North Indian, Kebab, Biryani",0,0,0,0,0,2
3,Hinjawadi,"Casual Dining, Bar",430,4.3,1400,"Asian, European, Modern Indian, Italian",0,0,0,0,0,3
4,Shivaji Nagar,"Bar, Casual Dining",2138,4.5,1500,"North Indian, Chinese, Biryani, American, Cont...",0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
12184,Hinjawadi,"Takeaway, Delivery",0,0.0,0,Chinese,0,0,0,0,0,12184
12185,Kharadi,"Takeaway, Delivery",0,0.0,0,"Mongolian, Pizza, Chinese, Beverages",0,0,0,0,0,12185
12186,Katraj,Quick Bites,0,0.0,300,"South Indian, Fast Food, Chinese",0,0,0,0,0,12186
12187,Kothrud,"Casual Dining, Bar",0,0.0,1200,"North Indian, Fast Food, Continental",0,0,0,0,0,12187
12188,Bavdhan,Beverage Shop,0,0.0,200,Beverages,0,0,0,0,0,12188

In [123]:
f2 = f1[['index', 'Locality', 'Sponsored', 'Number of votes', 'Ratings_out_of_5', 'Charges_for_two', 'Cuisines', 'Wine and Beer', 'Vegetarian Only', 'Vegan Options', 'Sugar Free Options', 'Buffet']]

In [124]:
f2

,index,Locality,Sponsored,Number of votes,Ratings_out_of_5,Charges_for_two,Cuisines,Wine and Beer,Vegetarian Only,Vegan Options,Sugar Free Options,Buffet
0,0,Hinjawadi,Casual Dining,7029,4.9,1400,"Continental, North Indian, Chinese",0,0,0,0,1
1,1,Bhugaon,"Lounge, Casual Dining",2578,4.6,1500,"North Indian, Chinese, Continental, Kebab, Sea...",0,0,0,0,0
2,2,Senapati Bapat Road,Fine Dining,3291,4.6,2500,"North Indian, Kebab, Biryani",0,0,0,0,0
3,3,Hinjawadi,"Casual Dining, Bar",430,4.3,1400,"Asian, European, Modern Indian, Italian",0,0,0,0,0
4,4,Shivaji Nagar,"Bar, Casual Dining",2138,4.5,1500,"North Indian, Chinese, Biryani, American, Cont...",0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
12184,12184,Hinjawadi,"Takeaway, Delivery",0,0.0,0,Chinese,0,0,0,0,0
12185,12185,Kharadi,"Takeaway, Delivery",0,0.0,0,"Mongolian, Pizza, Chinese, Beverages",0,0,0,0,0
12186,12186,Katraj,Quick Bites,0,0.0,300,"South Indian, Fast Food, Chinese",0,0,0,0,0
12187,12187,Kothrud,"Casual Dining, Bar",0,0.0,1200,"North Indian, Fast Food, Continental",0,0,0,0,0
12188,12188,Bavdhan,Beverage Shop,0,0.0,200,Beverages,0,0,0,0,0

In [151]:
import random
ide, local, spon, nov, roo5, charg, cuis, wnb, vo, vego, sfo, buff=[],[],[],[],[],[],[],[],[],[],[],[]
userid = []

In [152]:
for i in range(20000):
    user_id = random.randint(0, 100)
    userid.append(user_id)
    item_id = random.randint(0, 12188)
    ide.append(f2['index'][item_id])
    local.append(f2['Locality'][item_id])
    spon.append(f2['Sponsored'][item_id])
    roo5.append(f2['Ratings_out_of_5'][item_id])
    nov.append(f2['Number of votes'][item_id])
    charg.append(f2['Charges_for_two'][item_id])
    cuis.append(f2['Cuisines'][item_id])
    wnb.append(f2['Wine and Beer'][item_id])
    vo.append(f2['Vegetarian Only'][item_id])
    vego.append(f2['Vegan Options'][item_id])
    sfo.append(f2['Sugar Free Options'][item_id])
    buff.append(f2['Buffet'][item_id])
newdf = pd.DataFrame()
newdf['user_id'] = userid
newdf['index'] = ide
newdf['loc'] = local
newdf['sponsor'] = spon
newdf['votes'] = nov
newdf['rating'] = roo5
newdf['charge'] = charg
newdf['cuisine'] = cuis
newdf['alcohol'] = wnb
newdf['veg'] = vo
newdf['vegan'] = vego
newdf['sugarfree'] = sfo
newdf['buff'] = buff

In [153]:
newdf

,user_id,index,loc,sponsor,votes,rating,charge,cuisine,alcohol,veg,vegan,sugarfree,buff
0,1,6539,Pimple Saudagar,Quick Bites,53,3.3,550,Biryani,0,0,0,0,0
1,16,11970,Talegaon,Quick Bites,6,3.1,700,"North Indian, Chinese",0,0,0,0,0
2,0,10535,Pashan,Quick Bites,4,3.0,450,"North Indian, Chinese",0,0,0,0,0
3,50,12090,Dhankawadi,"Takeaway, Delivery",0,0.0,0,Chinese,0,0,0,0,0
4,70,11837,Pimple Nilakh,Beverage Shop,12,3.3,250,"Beverages, Healthy Food",0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,17,639,Aundh,"Pub, Casual Dining",29,3.8,1500,"Continental, Bar Food, Thai, North Indian",0,0,0,0,0
19996,14,8841,Pimple Nilakh,Quick Bites,25,3.4,300,"Chinese, Fast Food",0,0,0,0,0
19997,86,8164,Viman Nagar,Quick Bites,8,3.3,500,"North Indian, Fast Food, Beverages",0,0,0,0,0
19998,87,1425,Viman Nagar,Quick Bites,69,3.7,400,North Indian,0,0,0,0,0
19999,84,474,NIBM Road,Quick Bites,96,3.9,350,"Street Food, Sandwich, South Indian, North Ind...",0,0,0,0,0

In [158]:
dup = newdf[newdf.duplicated(keep = 'last')]
print(dup)

Empty DataFrame
Columns: [user_id, index, loc, sponsor, votes, rating, charge, cuisine, alcohol, veg, vegan, sugarfree, buff]
Index: []

In [154]:
newdf.sort_values('user_id', inplace = True)

In [155]:
newdf.to_csv('training1.csv')

In [156]:
newdf.drop_duplicates(keep='first', inplace = True)

In [157]:
newdf

,user_id,index,loc,sponsor,votes,rating,charge,cuisine,alcohol,veg,vegan,sugarfree,buff
13365,0,11327,Koregaon Park,Delivery,0,0.0,0,North Indian,0,0,0,0,0
16219,0,1970,Sinhgad Road,Casual Dining,91,2.8,550,"North Indian, South Indian, Chinese",0,1,0,0,0
13486,0,8859,Bibvewadi,Quick Bites,7,3.1,150,Street Food,0,0,0,0,0
2644,0,647,Wakad,Casual Dining,87,4.1,650,Maharashtrian,0,0,0,0,0
3699,0,3487,Kothrud,"Casual Dining, Bar",263,3.7,1000,"North Indian, Chinese",0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11078,100,11337,Chinchwad,Quick Bites,0,0.0,250,Fast Food,0,1,0,0,0
11059,100,4036,Hinjawadi,"Casual Dining, Bar",66,3.7,850,"North Indian, Chinese",0,0,0,0,0
11008,100,983,Bavdhan,Casual Dining,543,3.8,850,"Asian, North Indian, Italian, Pizza",0,1,0,0,0
11342,100,214,FC Road,Casual Dining,1021,4.1,1000,"North Indian, Continental, Italian",0,1,1,0,0
11652,100,2088,Bavdhan,Casual Dining,294,3.7,1200,"North Indian, Chinese",0,0,0,0,0

In [159]:
newdf.to_csv('FinalTrain.csv')